div{
    display: inline-block;
    width: auto;
    min-width: 32px;
    height: auto;
    min-height: 32px;
    border: 2px solid black;
    margin-left: 2px;
    background-color: white;
    padding: 5px;
}

body{
    background-color: #f1d63c;
}

#sectionArray{
    width: auto;
    height: auto;
    min-width: 38px;
    min-height: 38px;
    background-color: white;
}